<h1>Create a new article</h1>

<%# scope defines what we are working with, we need to provide article model as symbol,  articles_path -> articles#index, using standard http post instead of AJAX %>
<%= form_with scope: :article, url: articles_path, local: true do |f|%>

  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit%>
  </p>

<% end %>